<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>form</title>
    <link href="http://static.tcy365.com/cdn/bootstrap/3.3.7/custom/1.0.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <div class="col-sm-6">
        <ct-adc-textarea v-model="value"
                         :maxlength="limitedLength"
                         :cut="cut"
                         :regexp="/\d/g"
                         :replace-by-empty="replaceByEmpty"
                         by-byte
                         @input="input"
                         @change-pass="changePass"
                         @change="change">
            <template slot-scope="scope">
                <span :class="!scope.pass.length ? 'text-danger' : 'text-success'">{{scope.length}}</span>
                <template v-if=" limitedLength !== -1">
                    /{{limitedLength}}
                    <span class="pull-right text-danger" v-if="!scope.pass.length">
                    长度不符合要求
                </span>
                    <span class="pull-right text-danger" v-else-if="!scope.pass.format">
                    格式不符合要求
                </span>
                </template>
            </template>
        </ct-adc-textarea>
        {{value}}
    </div>
</div>

<%= htmlWebpackPlugin.options.script %>
</body>
</html>
